*{
  box-sizing: border-box;
}
.container{
  width:484px;
  height: auto;
}

.container__search{
  position: relative;
}
.box__search{
  width:484px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  padding: 0px 50px 0px 20px;
}

.microphone{
  position: absolute;
  font-size: 20px;
  color: color: rgba(0, 0, 0, 0.4);
  right: 15px;
  top: 15px;
}



.button__serach{
  margin-top:25px;
  display: flex;
  justify-content: center;
}
.peticion{
  height: 36px;
  border: 1px solid #F2F2F2;
  font-weight: bold;
  padding: 0px 16px;
  margin: 0px 16px; 
  background: #F2F2F2;
}



